<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>IPPLUG - Rede Sensorial para Acessibilidade</title>

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico">

    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="assets2/css/responsive.css" rel="stylesheet">

</head>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type="text/javascript">
	
$(document).ready(function()
{
    $(".gif").hover(
        function()
        {
          var src = $(this).attr("src");
          $(this).attr("src", src.replace(/\.png$/i, ".gif"));
        },
        function()
        {
          var src = $(this).attr("src");
          $(this).attr("src", src.replace(/\.gif$/i, ".png"));
        });
});

</script>


<body>


    
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated" style="background-color: rgba(20,38,139,0.8) !important;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light" >
                            <!-- Logo -->

                            <a class="navbar-brand" href="http://ipplug.xyz"> <img src="assets2/img/ipbt.png" width="120px" height="49px"> </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"> <a class="nav-link" href="#home">Início</a></li>

                                    <li class="nav-item"><a class="nav-link" href="#about">Contato</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Cadastro</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#about">Introdução</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Objetivo</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Acessibilidade</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#about">Equipe</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Tecnologias</a></li>

                                </ul>

                                <div class="sing-up-button d-lg-none">
                                    <a href="#">Login</a>
                                </div>


                            </div>
                        </nav>
                    </div>
                </div>

                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="#"> Login IPPLUG </a>
                    </div>
                </div>


            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2> ✨ IPPLUG - Rede Sensorial para Acessibilidade</h2>
                        <h3>IP</h3>
                        </BR>
                        <p>Aquilo que começou como um pequeno projeto escolar... 
                            </BR> Se tornou uma equipe de produção de equipamentos inteligentes amplamente </BR> conectados e integrados a redes.</p>
                    </div>
  
                </div>
            </div>
        </div>


<style type="text/css">
	
.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}


</style>


        <!-- Welcome thumb -->
        <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
            <img  class="gif" style=" border: 0px solid #000; margin: 0px 0px 80px 55px ;" src="assets2/img/ipgif.png" alt="">
        </div>


    </section>


</br></br></br></br></br></br></br></br></br></br>

    <!-- ***** Wellcome Area End ***** -->
    <!-- ***** Contact Us Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix"></footer>
    <!-- ***** Footer Area Start ***** -->

    <!-- Jquery-2.2.4 JS -->
    <script src="assets2/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="assets2/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="assets2/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="assets2/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="assets2/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="assets2/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="assets2/js/active.js"></script>

</body>

</html>
